{% extends "::base.html.twig" %}

{% block title %}Notes{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="note-alerts"></div>
            <h1>Notes</h1>

            <form id="addNoteForm" method="post" action="{{ path('notes_save') }}">
                <div class="form-group">
                    <textarea class="form-control" id="noteText" name="noteText" rows="5" placeholder="Notes..."></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <hr/>
            <div class="note-content"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $( '#addNoteForm' ).on( 'submit', function( e ) {
            e.preventDefault();
            var action_id = 'add-note';
            removeErrorMessage( action_id );

            var noteTextObj = $( this ).find( '#noteText' );
            var text = noteTextObj.val();

            if( $.trim( text ).length < 1 )
                return false;

            $.ajax( {
                url     : $( this ).attr( 'action' ),
                type    : $( this ).attr( 'method' ),
                data    : $( this ).serialize(),
                dataType: 'json'
            } ).done( function( response ) {
                if( response.status == 'success' ) {
                    $( '.note-content' ).prepend( buildListing( [response.note] ) );
                    noteTextObj.val( '' );
                }
                else {
                    addErrorMessage( action_id, response.msg );
                }
            } );
        } );

        function buildListing( notes ) {
            var html = '';
            for( var i = 0; i < notes.length; i++ ) {
                html += '<div class="note-draggable alert" role="alert" data-id="' + notes[i].id + '"><span class="note-text">' + notes[i].text + '</span>';
                html += '<span class="delete"><a href="{{ path('notes_delete') }}"><i class="fa fa-remove"></i></a></span></div>';
            }

            return html;
        }

        function addErrorMessage( action_id, msg ) {
            $( '<div></div>' )
                            .addClass( 'alert' )
                            .addClass( 'alert-danger' )
                            .attr( 'data-action', action_id )
                            .text( msg )
                            .appendTo( '.note-alerts' );
        }

        function removeErrorMessage( action_id ) {
            $( '.note-alerts .alert' ).remove();
        }

        var notes = JSON.parse( '{{ notes|json_encode|escape('js') }}' );
        var contentObj = $( '.note-content' );
        contentObj.html( buildListing( notes ) );

        contentObj.sortable( {
            stop: function( event, ui ) {
                var action_id = 'sort-note';
                removeErrorMessage( action_id );
                var notes = [];
                var notesCount = contentObj.find( '.note-draggable').length;

                contentObj.find( '.note-draggable' ).each( function( index ) {
                    var node = {};
                    node.noteId = $( this ).attr('data-id');
                    node.priority = notesCount - index;
                    notes.push(node);
                } );

                $.ajax( {
                    url     : '{{ path('notes_reorder') }}',
                    type    : 'post',
                    data    : { notes: notes },
                    dataType: 'json'
                } ).done( function( response ) {
                    if( response.status != 'success' ) {
                        contentObj.sortable( 'cancel' );
                        addErrorMessage( action_id, response.msg );
                    }
                } ).fail( function() {
                    contentObj.sortable( 'cancel' );
                } );
            }
        } );

        $( document ).on( 'click', 'span.delete a', function( e ){
            e.preventDefault();
            var action_id = 'remove-note';
            removeErrorMessage( action_id );

            if( confirm( 'Are you sure you want to remove this note?' ) )
            {
                var noteObj = $( this ).closest( '.note-draggable' );
                var noteId = noteObj.attr( 'data-id' );

                $.ajax( {
                    url     : $( this ).attr( 'href' ),
                    type    : 'post',
                    data    : { noteId: noteId },
                    dataType: 'json'
                } ).done( function( response ) {
                    if( response.status == 'success' ) {
                        noteObj.remove();
                    }
                    else {
                        addErrorMessage( action_id, response.msg );
                    }
                } );
            }
        } );
    </script>
{% endblock %}