{% extends "::base.html.twig" %}

{% block title %}{{ meeting.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row" style="position:relative;">
                <h1 class="inline">{{ meeting.name }}</h1>
                <a href="{{ path('finish_meeting', {id:meeting.id}) }}" style="position:absolute; right: 0; top:20px;"
                   class="btn btn-danger">Finish the meeting</a>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Safety Check</div>

                        <!-- Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Level</td>
                                <td>Description</td>
                                <td>Comment</td>
                                <td>Votes</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>4</td>
                                <td>Secure</td>
                                <td>Everything is discussable without filtering</td>
                                <td id="votes-type-{{ constant('\\AppBundle\\Entity\\SafetyCheck::LEVEL_SECURE') }}">
                                    <span id="vote-numbers-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_SECURE') }}">{{ data['votes'][constant('\\AppBundle\\Entity\\SafetyCheck::LEVEL_SECURE')] }}</span>
                                    {% if canVote %}
                                        &nbsp; <span class="fa fa-plus vote"
                                                     data-level="{{ constant('\\AppBundle\\Entity\\SafetyCheck::LEVEL_SECURE') }}"></span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Safe</td>
                                <td>Almost everything is discussable without filtering</td>
                                <td id="votes-type-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_SAFE') }}">
                                    <span id="vote-numbers-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_SAFE') }}">{{ data['votes'][constant('AppBundle\\Entity\\SafetyCheck::LEVEL_SAFE')] }}</span>
                                    {% if canVote %}
                                        &nbsp; <span class="fa fa-plus vote"
                                                     data-level="{{ constant('\\AppBundle\\Entity\\SafetyCheck::LEVEL_SAFE') }}"></span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Neutral</td>
                                <td>Most things are discussable without filtering</td>
                                <td id="votes-type-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_NEUTRAL') }}">
                                    <span id="vote-numbers-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_NEUTRAL') }}">{{ data['votes'][constant('AppBundle\\Entity\\SafetyCheck::LEVEL_NEUTRAL')] }}</span>
                                    {% if canVote %}
                                        &nbsp; <span class="fa fa-plus vote"
                                                     data-level="{{ constant('\\AppBundle\\Entity\\SafetyCheck::LEVEL_NEUTRAL') }}"></span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Dangerous</td>
                                <td>Many of my best ideas are not discussable</td>
                                <td id="votes-type-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_DANGEROUS') }}">
                                    <span id="vote-numbers-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_DANGEROUS') }}">{{ data['votes'][constant('AppBundle\\Entity\\SafetyCheck::LEVEL_DANGEROUS')] }}</span>
                                    {% if canVote %}
                                        &nbsp; <span class="fa fa-plus vote"
                                                     data-level="{{ constant('\\AppBundle\\Entity\\SafetyCheck::LEVEL_DANGEROUS') }}"></span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>Treacherous</td>
                                <td>Most of my best ideas are not discussable</td>
                                <td id="votes-type-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_TREACHEROUS') }}">
                                    <span id="vote-numbers-{{ constant('AppBundle\\Entity\\SafetyCheck::LEVEL_TREACHEROUS') }}">{{ data['votes'][constant('AppBundle\\Entity\\SafetyCheck::LEVEL_TREACHEROUS')] }}</span>
                                    {% if canVote %}
                                        &nbsp; <span class="fa fa-plus vote"
                                                     data-level="{{ constant('\\AppBundle\\Entity\\SafetyCheck::LEVEL_TREACHEROUS') }}"></span>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">ORID</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li><b>O</b> - objective questions (What do we know about this?)</li>
                                <li><b>R</b> - reflective questions - (How do we feel about this?)</li>
                                <li><b>I</b> - interpretive questions - (What does it mean to you/me/the organization?)
                                </li>
                                <li><b>D</b> - decisional questions - (What are we going to do?)</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">What we did well?
                                <div class="notes-dropdown dropdown pull-right">
                                    <button class="btn btn-xs btn-default dropdown-toggle" type="button"
                                            id="didWellNotes" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="didWellNotes">
                                    </ul>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group"
                                id="items-type-{{ constant('AppBundle\\Entity\\JobDone::TYPE_WELL') }}">
                                {% if data['jobs'][constant('AppBundle\\Entity\\JobDone::TYPE_WELL')] is defined %}
                                    {% for job in data['jobs'][constant('AppBundle\\Entity\\JobDone::TYPE_WELL')] %}
                                        <li class="list-group-item">{{ job }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <input type="text" class="form-control addJob"
                                   data-type="{{ constant('AppBundle\\Entity\\JobDone::TYPE_WELL') }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">What should we have done better?
                                <div class="notes-dropdown dropdown pull-right">
                                    <button class="btn btn-xs btn-default dropdown-toggle" type="button"
                                            id="didNotWellNotes" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="didNotWellNotes">
                                    </ul>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group"
                                id="items-type-{{ constant('AppBundle\\Entity\\JobDone::TYPE_NOTWELL') }}">
                                {% if data['jobs'][constant('AppBundle\\Entity\\JobDone::TYPE_NOTWELL')] is defined %}
                                    {% for job in data['jobs'][constant('AppBundle\\Entity\\JobDone::TYPE_NOTWELL')] %}
                                        <li class="list-group-item">{{ job }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <input type="text" class="form-control addJob"
                                   data-type="{{ constant('AppBundle\\Entity\\JobDone::TYPE_NOTWELL') }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">What we did (no judgment)
                                <div class="notes-dropdown dropdown pull-right">
                                    <button class="btn btn-xs btn-default dropdown-toggle" type="button"
                                            id="justDidNotes" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="justDidNotes">
                                    </ul>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group"
                                id="items-type-{{ constant('AppBundle\\Entity\\JobDone::TYPE_NEUTRAL') }}">
                                {% if data['jobs'][constant('AppBundle\\Entity\\JobDone::TYPE_NEUTRAL')] is defined %}
                                    {% for job in data['jobs'][constant('AppBundle\\Entity\\JobDone::TYPE_NEUTRAL')] %}
                                        <li class="list-group-item">{{ job }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <input type="text" class="form-control addJob"
                                   data-type="{{ constant('AppBundle\\Entity\\JobDone::TYPE_NEUTRAL') }}">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Actions</h3>
                        </div>
                        <div class="panel-body">
                            <div id="actions">
                                <ul class="list-group" id="action-list">
                                    {% for action in data['actions'] %}
                                        <li class="list-group-item">
                                            <input type="checkbox"
                                                   class="action-checkbox" {% if action.checked %} checked {% endif %}
                                                   data-action-id="{{ action.id }}">
                                            {{ action.text }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <input type="text" class="form-control addAction"
                                   data-type="{{ constant('AppBundle\\Entity\\JobDone::TYPE_NEUTRAL') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function onActionChange( e ) {
            e.stopPropagation();
            var id = $( this ).attr( 'data-action-id' );
            var val = $( this ).is( ':checked' ) ? 1 : 0;
            $.post( '/meeting/{{ meeting.id }}/action/' + id + '/change', {checked: val}, function( response ) {
                fillData( response.data );
            } )
        }

        $( '.action-checkbox' ).change( onActionChange );

        function fillData( data ) {
            for( var type in data['jobs'] ) {
                if( data['jobs'].hasOwnProperty( type ) ) {
                    var container = $( '#items-type-' + type );
                    container.html( '' );
                    for( var id in data['jobs'][type] ) {
                        if( data['jobs'][type].hasOwnProperty( id ) ) {
                            var elm = $( '<li class="list-group-item"></li>' );
                            elm.text( data["jobs"][type][id] );
                            container.append( elm );
                        }
                    }
                }
            }

            var container = $( '#action-list' );
            container.html( '' );
            for( var action in data['actions'] ) {
                if( data['actions'].hasOwnProperty( action ) ) {
                    var elm = $( '<li class="list-group-item"> </li>' );
                    if( data["actions"][action]['checked'] )
                        elm.append( '<input type="checkbox" class="action-checkbox" checked data-action-id="' + data["actions"][action]['id'] + '"> ' );
                    else
                        elm.append( '<input type="checkbox" class="action-checkbox" data-action-id="' + data["actions"][action]['id'] + '"> ' );

                    var textElement = $( '<span></span>' );
                    textElement.text( data["actions"][action]['text'] );
                    elm.append( textElement );
                    container.append( elm );
                }
            }
            $( '.action-checkbox' ).change( onActionChange );

            for( var level in data['votes'] ) {
                if( data['votes'].hasOwnProperty( level ) ) {
                    $( '#vote-numbers-' + level ).html( data['votes'][level] );
                }
            }

        }

        $( function() {
            $( '.addJob' ).keyup( function( e ) {
                var that = $( this );
                if( e.keyCode == 13 ) {
                    var type = $( this ).data( 'type' );
                    $.post( '/meeting/{{ meeting.id }}/job/' + type, {'text': that.val()}, function( data ) {
                        that.val( '' );
                        fillData( data.data );
                    } );
                }
            } );

            $( '.addAction' ).keyup( function( e ) {
                var that = $( this );
                if( e.keyCode == 13 ) {
                    var type = $( this ).data( 'type' );
                    $.post( '/meeting/{{ meeting.id }}/action', {'text': that.val()}, function( data ) {
                        that.val( '' );
                        fillData( data.data );
                    } );
                }
            } );

            $( '.vote' ).click( function() {
                var level = $( this ).data( 'level' );
                $.post( ' /meeting/{{ meeting.id }}/vote', {level: level}, function( data ) {
                    $( '.vote' ).remove();
                    fillData( data.data );
                } );
            } );

            setInterval( function() {
                $.get( '/meeting/{{ meeting.id }}/data', function( response ) {
                    fillData( response.data );
                } );
            }, 2000 );

            $( '.notes-dropdown .dropdown-menu li a' ).on( 'click', function( e ) {
                e.preventDefault();

                var type = $( this ).closest( '.panel' ).find( '.panel-body .addJob' ).attr( 'data-type' );
                var text = $( this ).text();
                var noteId = $( this ).attr( 'data-id' );
                var a = $( '.notes-dropdown .dropdown-menu li a[data-id="' + noteId + '"]' );

                $.post( '/meeting/{{ meeting.id }}/job/' + type, {'text': text}, function( data ) {
                    fillData( data.data );

                    $.post( '{{ path('notes_delete') }}', {noteId: noteId}, function( response ) {
                        if( response.status == 'success' ) {
                            a.each( function() {
                                $( this ).closest( 'li' ).remove();
                            } );
                        }
                    } );
                } );
            } );
        } );

        function fillNotesDropdown( notes ) {
            var html = '';
            for( var i = 0; i < notes.length; i++ ) {
                html += '<li><a href="#" data-id="' + notes[i].id + '">' + notes[i].text + '</a></li>';
            }

            $( '.notes-dropdown .dropdown-menu' ).html( html );
        }

        var notes = JSON.parse( '{{ notes|json_encode|escape('js') }}' );
        fillNotesDropdown( notes );

    </script>
{% endblock %}
